#============= hal_sensors_default ==============
allow hal_sensors_default iio_device:chr_file read;
allow hal_sensors_default iio_device:chr_file open;
