/dev/block/mmcblk0rpmb 0600 system drmrpc
/dev/block/platform/700b0600.sdhci/by-name/recovery 0600 system system
/dev/block/platform/700b0600.sdhci/by-name/PST 0600 system system

# Graphics
/dev/ion                0666   system     graphics
/dev/sw_sync            0666   system     graphics
/dev/dri/card*          0666   system     graphics
/dev/dri/control*       0666   system     graphics
/dev/dri/render*        0666   system     graphics

# BT
/dev/ttyTHS3            0666   bluetooth  bluetooth
/sys/devices/bt_bcm4354/rfkill/rfkill0  state  0666    bluetooth    bluetooth
/sys/devices/bt_bcm4354/rfkill/rfkill0  type   0666    bluetooth    bluetooth

# Backlight
/sys/devices/50000000.host1x/54400000.dsi/54400000.dsi.0/backlight/lpm102a188a-backlight	brightness	0666	system	system

# Sensors

# Sensor ring.
/dev/iio:device* 0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* buffer/length      0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* buffer/enable      0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* trigger/current_trigger      0666 system system

# Sensors attributes:
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* flush      0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* frequency  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* sampling_frequency  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* events/in_activity_still_change_falling_en  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* events/in_activity_double_tap_change_falling_en  0666 system system

/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_x_calibbias  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_y_calibbias  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_z_calibbias  0666 system system

/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_x_calibbias  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_y_calibbias  0666 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_z_calibbias  0666 system system

# Camera
/dev/focuser    0666    media   camera
/dev/imx219     0666    media   camera
/dev/imx208     0666    media   camera

# TLK
/dev/tlk_device 0666    system  drmrpc
